@import '../../../styles/partials/mixins';
@import '../../../styles/partials/variables';

.chart-container {
  margin: auto;
  position: relative;
}

h1.chart-title {
  color: black;
}

.favicon:hover {
  color: $secondary-color;
}