@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.about-us {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

    &__title {
        margin-top: 1rem;
        display: flex;
        width: fit-content;
        font-size: 2rem;
        letter-spacing: 0.05rem;
        border: 2px solid #7fabf8;
        @include small-container-boxshadow;

        @include desktop {
            padding: 1%;
            margin-top: 2rem;
        }

        @include desktop-large {
            font-size: 2.5rem;
            line-height: 2.5rem;
        }
    }

    &__paragraph-main {
        letter-spacing: 0.05rem;

        @include desktop {
            font-size: 1.4rem;
            width: 70%;
            margin: auto;
            padding: 1%;
            letter-spacing: 0.09rem;
            line-height: 2rem;
        }

        @include desktop-large {
            @include desktop-large-paragraph;
        }

    }

    &__paragraph-secondary {
        letter-spacing: 0.05rem;
        margin-bottom: 1rem;

        @include desktop {
            font-size: 1.4rem;
            width: 70%;
            margin: auto;
            padding: 1%;
            letter-spacing: 0.09rem;
            margin-bottom: 2rem;
            @include special-paragraph-container-boxshadow;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        @include desktop-large {
            @include desktop-large-paragraph;
        }
    }

    color: black;
}